/**
 * Float Layout Activity
 **/

* {
  box-sizing: border-box;
  text-align: center;
}

body {
}

header {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #ccc;
}
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

section {
}

#left {
  float: left;
  width: 33%;
  background-color: #666;
  padding: 30px;
}

#middle {
  float: left;
  width: 33%;
  background-color: #888;
  padding: 30px;
}

#right {
  float: left;
  width: 33%;
  background-color: #666;
  padding: 30px;
}

#full {
  background-color: #eee;

}

#division {
  background-color: #66eeaa;
}

aside {
  background-color: #eee;
  float: left;
  width: 200px;
  height: 200px;
  padding: 20px;
}

footer {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #ccc;
}
